extends layout 

block content 
    h1= "New message"
    form(action="/new", method="POST", class="form") 
        div
            label(for="name")= "Name" 
            input#name(type="text", name="name")
        div 
            label(for="message")= "Message" 
            textarea#message(name="message")
        button(type="submit")= "Submit"